@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(230deg, 100%, 99%) url(../images/bg-pattern.svg) no-repeat top left;
  background-size: 100% 300px;
  font-family: "Manrope", sans-serif;
  transition: 0.3s ease-in;
}

a {
  text-decoration: none;
}

span, p {
  color: hsl(225deg, 20%, 60%);
  font-weight: 600;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

.heading {
  margin: 2rem 0;
  padding: 3rem 0;
  display: grid;
  place-items: center;
  background: url(../images/pattern-circles.svg) no-repeat center;
}
.heading-title {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: hsl(227deg, 35%, 25%);
}
.heading-subtitle {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.heading-subtitle p {
  text-align: center;
  flex-basis: 100%;
}

.component {
  width: 85%;
  max-width: 650px;
  background: white;
  display: grid;
  margin-bottom: 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 25px -15px hsla(227deg, 35%, 35%, 0.1), 0 6px 45px -20px hsla(227deg, 35%, 45%, 0.1), 0 20px 45px -10px hsla(227deg, 35%, 65%, 0.1);
}

.section-1 {
  border-bottom: 1px solid hsl(224deg, 65%, 95%);
}
.section-1 .counter {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1.5rem;
}
.section-1 .counter__item {
  flex: 1 1 235px;
}
.section-1 .billing {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.pageviews {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  transition: 0.3s ease-in;
}

.slider {
  transition: 0.35s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: hsl(174deg, 86%, 45%) url(../images/icon-slider.svg) no-repeat center;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  border-radius: 50%;
  box-shadow: 0 8px 10px -6px hsla(174deg, 86%, 55%, 0.6), 0 10px 12px -8px hsla(174deg, 86%, 65%, 0.4);
  cursor: pointer;
}

.slider:focus {
  outline: none;
}

.slider::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: transparent;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: hsl(174deg, 77%, 80%);
  border-radius: 30px;
}

.slider::-ms-fill-upper {
  background: hsl(174deg, 86%, 45%);
}

.slider:focus::-ms-fill-upper {
  background: hsl(174deg, 86%, 45%);
}

.slider::-ms-fill-lower {
  background: hsl(174deg, 86%, 45%);
}

.slider:focus::-ms-fill-lower {
  background: hsl(174deg, 86%, 45%);
}

.monthly {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: hsl(225deg, 20%, 60%);
}

.price {
  font-size: 2.5rem;
  letter-spacing: -1px;
  color: hsl(227deg, 35%, 25%);
}

.toggle {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 20px;
  background: hsl(223deg, 50%, 87%);
  position: relative;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.toggle-btn {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  inset: 3px 4px;
  border-radius: 20px;
  background: white;
  transition: 0.2s ease-in-out;
}

.toggle-on {
  transform: translateX(24px);
}

.change-bg {
  background: hsl(174deg, 77%, 80%);
}

.discount {
  background: hsl(14deg, 92%, 95%);
  color: hsl(15deg, 100%, 70%);
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.feature {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.feature ul {
  display: grid;
  gap: 0.5rem;
}
.feature ul li {
  color: hsl(225deg, 20%, 60%);
  list-style: url(../images/icon-check.svg);
  list-style-position: inside;
}
.feature .cta-trial {
  color: hsl(226deg, 100%, 87%);
  background: hsl(227deg, 35%, 25%);
  padding: 0.5rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-self: end;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  .pageviews {
    order: 1;
  }

  .monthly {
    order: 2;
  }

  .slider {
    order: 3;
  }

  .feature {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .feature ul {
    place-items: center start;
  }
  .feature ul li {
    list-style-position: inside;
    padding: 0;
  }
}
@media only screen and (min-width: 1224px) {
  body {
    background: url(../images/bg-pattern.svg) no-repeat top;
    background-size: 100%;
  }

  main {
    max-width: 1440px;
  }

  .heading-title {
    font-size: 2.2rem;
  }

  .heading-subtitle {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .heading-subtitle .subtitle-1 {
    text-align: right;
  }
  .heading-subtitle .subtitle-2 {
    text-align: left;
  }

  .component {
    width: 35%;
    min-width: 390px;
  }
  .component .counter {
    padding: 2rem 3rem;
    gap: 2rem;
  }
  .component .counter__item {
    flex: 1 1 125px;
  }
  .component .billing {
    margin: 2rem 4rem;
  }

  .pageviews {
    text-align: left;
  }

  .monthly {
    justify-content: end;
  }

  .feature {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .feature ul {
    place-items: center start;
  }
}