@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');



//Primary color

$softCyan: hsl(174, 77%, 80%); //(Full Slider Bar)
$StrongCyan: hsl(174, 86%, 45%); //(Slider Backround)
$LightGrayishRed: hsl(14, 92%, 95%);//(Discount Background)
$LightRed: hsl(15, 100%, 70%);//(Discount Text)
$PaleBlue: hsl(226, 100%, 87%);//(CTA Text)

//Neutral color

$VeryPaleBlue: hsl(230, 100%, 99%); // (Main Background)
$LightGrayishBlue: hsl(224, 65%, 95%); //(Empty Slider Bar)
$GrayishBlue: hsl(223, 50%, 87%); //(Toggle Background)
$DarkGrayishBlue: hsl(225, 20%, 60%); //(Text)
$DarkDesaturatedBlue: hsl(227, 35%, 25%); // (Text & CTA Background)

$fontFamily: 'Manrope', sans-serif;

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: $VeryPaleBlue url(../images/bg-pattern.svg) no-repeat top left;
    background-size: 100% 300px;
    font-family: $fontFamily;
    transition: .3s ease-in;
}

a{
    text-decoration: none;
}

span, p {
    color: $DarkGrayishBlue;
    font-weight: 600;
}

main{
    width: 100%;
    display: grid;
    place-items: center;
}

.heading{
    margin: 2rem 0;
    padding:3rem 0;
    display: grid;
    place-items: center;
    background: url(../images/pattern-circles.svg) no-repeat center;


    &-title{
        font-size: 1.6rem;
        font-weight: 800;
        letter-spacing: -1px;
        color: $DarkDesaturatedBlue;
    }

    &-subtitle{
        width: 100%;
        margin-top: .5rem;
        font-size: .95rem;
        display: flex;
        justify-content: end;
        gap: .5rem;
        flex-wrap: wrap;
        
        p{
            text-align: center;
            flex-basis: 100%;
        }
    }
}

.component{
    width: 85%;
    max-width: 650px;
    background: white;
    display: grid;
    margin-bottom: 3rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 25px -15px hsla(227, 35%, 35%, .1), 0 6px 45px -20px hsla(227, 35%, 45%, .1), 0 20px 45px -10px hsla(227, 35%, 65%, .1);
}

.section-1{
    border-bottom: 1px solid $LightGrayishBlue;
    
    .counter{
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1.5rem;

        &__item{
            flex: 1 1 235px;
        }
    }

    .billing{
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
        font-size: .8rem;
    }
}


.pageviews{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    transition: .3s ease-in;
}

.slider{
    transition: .35s ease-out;
    appearance: none;
    width: 100%;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    background: $StrongCyan url(../images/icon-slider.svg) no-repeat center;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    border-radius: 50%;
    box-shadow:
    0 8px 10px -6px hsla(174, 86%, 55%, .6), 
    0 10px 12px -8px hsla(174, 86%, 65%, .4);
    cursor: pointer;
}

.slider:focus{
    outline: none;
}

.slider::-ms-track{
    width: 100%;
    height: 8px;
    cursor: pointer;

    background: transparent;
    border: none;
    color: transparent;
}

.slider::-webkit-slider-runnable-track{
    width: 100%;
    height: 8px;
    background: $softCyan;
    border-radius: 30px;
}

.slider::-ms-fill-upper{
    background: $StrongCyan;
}
.slider:focus::-ms-fill-upper{
    background: $StrongCyan;
}

.slider::-ms-fill-lower{
    background: $StrongCyan;
}

.slider:focus::-ms-fill-lower{
    background: $StrongCyan;
}

.monthly{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: $DarkGrayishBlue;
}

.price{
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: $DarkDesaturatedBlue;
}

.toggle{
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 20px;
    background: $GrayishBlue;
    position: relative;
    transition: .3s ease-in;
    cursor: pointer;
    
    &-btn{
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        inset: 3px 4px;
        border-radius: 20px;
        background: white;
        transition: .2s ease-in-out;
    }
}

.toggle-on{
    transform: translateX(24px);
}

.change-bg{
    background: $softCyan;
}


.discount{
    background: $LightGrayishRed;
    color: $LightRed;
    padding: .2rem .5rem;
    border-radius: 20px;
}

.feature{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
        
        ul{
            display: grid;
            gap: .5rem;
            
        li{
            color: $DarkGrayishBlue;
            list-style: url(../images/icon-check.svg);
            list-style-position: inside;
        }
    }
    
    .cta-trial{
        color: $PaleBlue;
        background: $DarkDesaturatedBlue;
        padding: .5rem 2rem;
        border-radius: 50px;
        cursor: pointer;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    align-self: end;
    margin-bottom: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (min-width: 768px) {
    
    .pageviews{
        order: 1;
    }
    
    .monthly{
        order: 2;
    }
    
    .slider{
        order: 3;
    }

    .feature{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;

        ul{
            place-items: center start;
            
            li{
                list-style-position: inside;
                padding: 0;
            }
        }
    }

}

@media only screen and (min-width: 1224px) {
    
    body{
        background: url(../images/bg-pattern.svg) no-repeat top;
        background-size: 100%;
    }

    main{max-width: 1440px;}

    .heading-title{
        font-size: 2.2rem;
    }

    .heading-subtitle{
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0.5rem;
        
        .subtitle-1{
            text-align: right;
        }
        .subtitle-2{
            text-align: left;
        }
    }

    .component{
        width: 35%;
        min-width: 390px;
     
        .counter{
            padding: 2rem 3rem;
            gap: 2rem;

            &__item{
                flex: 1 1 125px;
            }
        }

        .billing{
            margin: 2rem 4rem;
        }
    }

    .pageviews{
        text-align: left;
    }
    
    .monthly{
        justify-content: end;
    }


    .feature{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;

        ul{
            place-items: center start;
        }
    }

}